* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: .5rem;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
}

ul {
  line-height: 1.4rem;
  padding-left: 1.5rem;
  list-style-type: circle;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
}

button, .choose-view a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px;
}

.choose-view a:visited {
  color: #fff;
}

button:hover,
button:focus,
.choose-view a:hover,
.choose-view a:focus {
  filter: brightness(120%);
  transform: scale(1.03);
}

button:active,
.choose-view a:active {
  transform: scale(0.99);
}

button:disabled {
  background: #0069ed;
  filter: saturate(90%) !important;
  opacity: 0.5;
}

.screen {
  display: none;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#game {
  align-items: center;
}

.columns > div {
  flex: 50%;
  padding: 10px;
}

.columns > div > button {
  width: 100%;
}

.drink-selection {
  margin-bottom: 20px;
}

#fridge-wrap {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}

#fridge {
  background-image: url('./img/fridge.jpeg');
  background-position: center;
  width: 260px;
  margin: 0 auto;
  max-width: 100%;
  min-height: 512px;
  align-content: start;
  padding: 44px 32px;
  padding-left: 38px;
}

.drink {
  padding: 10px;
  max-width: 50%;
  height: 66px;
  margin-top: 13px;
  text-align: center;
  position: relative;
}

.choose-drink {
  height: 100px;
  padding: 5px;
}
.drink-icon {
  max-height: 100%;
  max-width: 100%;
}

.delete {
  width: 20px !important;
  height: 20px;
  padding: 0;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
  background: #822;
}

.submit {
  width: auto !important;
  display: block;
  margin: 0 auto;
}

.main-submit {
  width: 100% !important;
}

#finish-img {
  text-align: center;
  padding: 20px 0;
}

#finish-img img {
  width: 300px;
  max-width: 100%;
}

#play-again {
  margin-top: 20px;
}

.choose-view {
  display: none;
}

.requisite {
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
}

.ghost {
  position: absolute;
  transition: all 500ms ease-in-out;
  opacity: 1;
}

@media (max-width: 600px) {
  #game {
    flex-direction: column-reverse;
    align-items: center;
  }
  h2 {
    font-size: 1.4rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  .choose-drink {
    height: 70px;
  }
  .drink-selection > div {
    padding: 3px;
  }
  .choose-view {
    display: block;
    position: relative;
    z-index: 1;
  }
  .choose-view a {
    display: block;
    margin: 5px;
    background: rgb(107, 109, 116);
  }
  .requisite {
    font-size: .9em;
  }
}

